<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\..\src\Pmad.Geometry\Definitions.tt" #>
<#@ output extension=".cs" #>
using Pmad.Geometry.Collections;

namespace Pmad.Geometry.Test.Shapes
{
<#
	foreach(var def in definitions)
	{
#>
	public partial class Path<#=def.Suffix#>Test : PathTestBase<<#=def.Primitive#>,<#=def.Struct#>>
	{
        protected override int Integer(<#=def.Primitive#> v) => (int)v;

        protected override <#=def.Struct#> Vector(int x, int y) => new ((<#=def.Primitive#>)x, (<#=def.Primitive#>)y);

<# if ( def.IsFP) { #>
		protected override IReadOnlyList<<#=def.Struct#>> Truncate(ReadOnlyArray<<#=def.Struct#>> array)
        {
            return array.Select(p => new <#=def.Struct#>((int)p.X, (int)p.Y)).ToList();
        }
<# } #>

	}
<#
	}
#>
}
